.skeletonsList {
  overflow-x: auto;
}

.skeletonsList::-webkit-scrollbar {
  display: none;
}

.skeletonsWrapper {
  display: inline-flex;
  gap: 10px;
}

.title {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.empty {
  width: 100%;
  font-weight: 900;
  font-size: 5vw;
  text-align: center;
}

.arrow.leftArrow {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.arrow.rightArrow {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carouselWrapper {
  margin-left: 50px;
}

@media (max-width: 960px) {
  
}
