.chapterTitle.chapterTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--mui-palette-text-primary);
}

.updatedAt {
  font-size: 0.875rem;
  color: var(--mui-palette-text-primary);
}

.chapterText {
  line-height: 1.6;
  color: var(--mui-palette-text-primary);

  details {
    width: fit-content;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
  }

  summary {
    border: 1px dashed var(--mui-palette-info-main);
    color: var(--mui-palette-info-main);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    outline: none;
  }
  
  details[open] summary {
    display: none;
  }
}

.breadcrumbLoad {
  display: flex;

  svg {
    margin-right: 5px;
  }
}

.loadBase {
  display: flex;

  span {
    margin-left: 10px;
  }
}
