.editorContainer.editorContainer {
  margin-bottom: 20px;
}

.textField.textField textarea {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
}

.submitButton.submitButton {
  margin-top: 10px;
}

.submitGroup {
  display: flex;
  justify-content: space-evenly;
}
