.header.header {
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  padding-right: 5px !important;
}

.toolbar.toolbar {
  justify-content: space-between;
}

.title {
  font-weight: bold;
  user-select: none;
}

.container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--logo-color);
}

.searchBox {
  display: flex;
  justify-content: center;
  width: 80%;
}

.authButton.authButton {
  text-transform: none;
  margin: 0 10px;
  width: 180px;
  height: 30px;
}

.avatarContainer {
  display: flex;
  margin-right: 10px;
}

@media (max-width: 960px) {
  .hideOnMobile.hideOnMobile {
    display: none;
  }
  
  .searchBox {
    width: 100%;
  }
}
